.footer{
    position: fixed;
    width: 100%;
    bottom: 0;
    right: 0;
    background: #cc5350;
    color: #fff;
    z-index: 1000;
    height: 150px;
    overflow: hidden;
    -webkit-transition: height 0.3s;
    -moz-transition: height 0.3s;
    transition: height 0.3s;
    text-align: center;
    line-height: 150px;
    font-size: 25px;
}